<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <div class="rightbuttons">
      <a href="http://www.github.com/sddhrthrt"><div class="button g">g</div></a>
      <a href="http://twitter.com/home?status=Interesting%20blog%20by%20@tweetingsid: worth checking out.  http://ephemeral.me - I liked it!" target="_blank"><div class="button t">t</div></a>
      <a href="mailto:sddhrthrt@gmail.com"><div class="button m">m</div></a>
  </div>
</hgroup>
