body > footer {
  @extend .sans;

  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}
body > footer {
    background: $img-border top left repeat-x;
    text-align: center;
    font-size: $footer-font-size;
    clear: both;
    position: relative;
    z-index: 10;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 120px;
}
