body > header {
  padding-left:0;
  &:hover h2 {
      opacity: 1;
  }
  h1 {
    display: inline-block;
    margin: 0;
    font-size: 2.7em;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    float: left;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  div{
    float: left;
    font-family: $header-title-font-family;
    color: #FFFFFF;
    span{
      color: blue;
    }
  }
  div#logo{
    margin-top: 0.58em;
    font-size: 1.9em;
    color: #f9f9f9;
  }
  div#logoText{
    color: #f1f1f1;
    letter-spacing: 1px;
    margin: -1px 0 0 -6px;
  }
  div#logoRight{
    margin-left: -6px;
  }
  div#logoLeft, #logoRight{
    color: #1b88ff;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: 1.2em;
    margin-left: -8px;
  }
  h2 {
    @include transition(opacity 0.5s);
    margin: -10px 0 0 0;
    @extend .sans;
    font-size: 0.6em;
    color: $subtitle-color;
    font-weight: normal;
    letter-spacing: 1px;
    clear: both;
    float: left;
    opacity: 0;
  }
  hgroup {
      position: relative;
  }
  .rightbuttons {
      $size: 48px;
      position: absolute;
      right: 0;
      bottom: -0.7em;
      .button {
          position: relative;
          bottom: -40px;
          @include transition(bottom .5s);
          &:hover{
              bottom: 0px;
          }
          display: table-cell;
          font-family: $buttons-font-family;
          font-weight: bold;
          text-align: center;
          vertical-align: middle; 
          line-height: 48px;
          color: $page-bg;
          width: $size;
          height: $size;
          margin-left: $size/6;
          background-color: lighten($page-bg, 40);
          &.m{
              background-color: rgba(204, 0, 0, 1);
              color: #eee;
          }
          &.f{
              background-color: rgba(72, 100, 159, 1);
              color: #eee;
          }
          &.t{
              background-color: rgba(0, 172, 237, 1);
          }
      }
  }
}
